_libgcc_mutex
_openmp_mutex
autopep8
av
backcall
blas
blosc
brotli
bzip2
ca-certificates
charls
cloudpickle
cytoolz
dask-core
decorator
ffmpeg
freetype
giflib
gmp
gnutls
icu
imagecodecs
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jpeg
jupyter_client
jupyter_core
jxrlib
lame
lcms2
ld_impl_linux-64
libaec
libffi
libgcc-ng
libgfortran-ng
libgfortran4
libgomp
libidn2
libpng
libsodium
libstdcxx-ng
libtasn1
libtiff
libunistring
libwebp
libzopfli
lintel
lz4-c
matplotlib
matplotlib-base
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nettle
networkx
numpy-base
olefile
openh264
openjpeg
openssl
parso
pexpect
pickleshare
pip
prompt-toolkit
ptyprocess
pycodestyle
pygments
python
python_abi
pywavelets
pyzmq
readline
scikit-image
seaborn
setuptools
snappy
sqlite
tifffile
tk
toml
toolz
tornado
traitlets
wheel
x264
xz
yaml
zeromq
zlib
zstd
