absl-py
adal
addict
antlr4-python3-runtime
appdirs
applicationinsights
argon2-cffi
argon2-cffi-bindings
asn1crypto
astor
astunparse
async-generator
attrs
awscli
backports-tempfile
backports-weakref
beautifulsoup4
black
bleach
botocore
cachetools
certifi
cffi
chardet
click
colorama
contextlib2
cryptography
cycler
databricks-cli
dataclasses
defusedxml
distro
docker
docker-pycreds
docopt
docutils
dotnetcore2
easydict
entrypoints
et-xmlfile
filelock
ftfy
fusepy
future
fvcore
gast
gdown
gevent
gitdb
gitpython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grequests
grpcio
h5py
huggingface-hub
hydra-core
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
iopath
ipywidgets
isodate
jeepney
jinja2
jmespath
joblib
jsonpickle
jsonschema
jupyterlab-pygments
jupyterlab-widgets
keras-applications
keras-preprocessing
keyboard
kiwisolver
lmdb
markdown
markupsafe
mistune
mlflow-skinny
mmcv
more-itertools
moviepy
msal
msal-extensions
msgpack
msrest
msrestazure
mypy-extensions
natsort
nbclient
nbconvert
nbformat
ndg-httpsclient
nest-asyncio
notebook
numpy
oauthlib
omegaconf
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandocfilters
pathspec
pathtools
pillow
plotly
pluggy
portalocker
proglog
prometheus-client
promise
protobuf
psutil
py
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycosat
pycparser
pydot
pygtrie
pyjwt
pyopenssl
pyparsing
pyrsistent
pysocks
pytest
python-dateutil
pytz
pyyaml
regex
requests
requests-oauthlib
retrying
rsa
ruamel-yaml
s3transfer
sacrebleu
sacremoses
scikit-learn
scipy
secretstorage
send2trash
sentencepiece
sentry-sdk
setproctitle
shortuuid
simplejson
six
smmap
soupsieve
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
timm
tokenizers
torch
torch-tb-profiler
torchtext
torchvision
tqdm
transformers
typed-ast
typing
typing-extensions
urllib3
wandb
warmup-scheduler
wcwidth
webencodings
websocket-client
webvtt-py
werkzeug
widgetsnbextension
wrapt
xmltodict
yacs
yapf
zipp
zope-event
zope-interface
